<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUNCIONÁRIOS</title>
</head>
<body>

<h1>FUNCIONÁRIOS</h1>

    <form th:action="@{/salvar}" method="POST">
        <input type="text" name="salario"/>
        <input type="text" name="nome"/>
        <input type="text" name="cargo"/>
        <input type="text" name="sexo"/>
        <input type="submit" value="Salvar"/>
    </form>

    <table>
        <tr th:each="funcionario : ${funcionarios}">
            <td th:text="${funcionario.Id}"></td>
            <td th:text="${funcionario.salario}"></td>
            <td th:text="${funcionario.nome}"></td>
            <td th:text="${funcionario.cargo}"></td>
            <td th:text="${funcionario.sexo}"></td>
        </tr>
    </table>
</body>
</html>